.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 95%;
  height: 95%;
  object-fit: cover;
  transition: 0.3s;
}
.gallery-card1-image:hover {
  width: 150%;
  height: 150%;
}
.gallery-card1-text {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
  margin-left: 48px;
}
.gallery-card1-text1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-left: 48px;
  margin-bottom: var(--dl-space-space-halfunit);
}






@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
}
